ion-button{
    --background: var(--ion-color-primary);
    height: 50px;
    --border-radius: 20px;
    margin-top: 0px;
}

ion-toolbar{
    --background: white; 
    color:var(--ion-color-primary);
}

.back-button{
    --color: var(--ion-color-primary);
    height: 50px;
    --border-radius: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-top: 0px;
}