.image {
    width: 100%;
    height: 100%;
    max-width: 220px !important;
    max-height: 160px !important;
    object-fit: contain;
}

.picker {
    margin-left: 15% !important;
    width: 70% !important;
    max-width: 232px !important;
    height: 70% !important;
    max-height: 170px !important;
    margin-top: 3%;
}

input[type='file'] {
    display: none
}