ion-icon {
    color:black;
}

ion-toolbar{
    ion-icon{
        color: white !important;
    }
}

ion-label{
    padding-left: 10px;
}

.active-item{
    border-left: 8px solid var(--ion-color-primary);
}