

.profile {
  background-image: url('../../../../../assets/profile.jpg'); 
  background-size: cover; 
  background-position: center;
}

.patient-list {
  background-image: url('../../../../../assets/patient.jpg'); 
  background-size: cover; 
  background-position: center;
}

ion-icon {
    font-size: 2rem;
    color: white !important;
  }

ion-content {

  --background: linear-gradient(to bottom , var(--ion-color-primary), rgb(251, 248, 248)) !important;

  ion-grid {
    height: 100%;
    ion-row {
      height: 50% !important;
      ion-col {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        height: 100% !important;
        ion-card {
          text-align: center !important;
          width: 100% !important;
          height: 100% !important;
          margin: 0 !important;
          
          ion-card-title {
            color: var(--ion-color-primary);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-top: 5%;
            background-image: url("../../../../../assets/white.jpg") !important;
            background-position: center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
          }
          
        }
      }
    }
  }
}

ion-icon {
  font-size: 28px !important;
}



