<ion-content padding="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-img src="../assets/doctor.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <div padding>
          <ion-button expand="block" class="guide">
            Visit the guide !
          </ion-button>
          <a style="text-decoration: none;" routerLink="/register">
            <ion-button expand="block" class="getstarted">
              Get Started !
           </ion-button>
          </a>
          
        </div>
        <hr>
        <p>Already have an account? <a routerLink="/login">Sign in</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>