<!-- l'en tete de la page -->
<ion-header>
  <!-- barre d'outil contenant les differents bouttons et un titre -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>
    <!-- titre de la page centré est écrit en primary -->
    <ion-title style="text-align: center;" color="primary">{{fullName.split('_').join(' ')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="physic">
        <ion-icon name="body-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="diagram">
        <ion-icon name="podium-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="ordonnance/{{fullName}}">
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
